@import "../css/default.less";

//
// Less CSS Variables
//

// Colors:

// Change tt-rss default colors
@default-bg: #fff;
@default-fg: #444; // prefer @default-fg to @default-text
@color-panel-bg: darken(@default-bg, 8%);
//@color-accent: ; // default blue is fine

// Color of feed tree icons
@feedlish-feedtree-icons-color: mix(@default-fg, @color-panel-bg, 30%);

// Headlines foreground and background colors.
// Computed from @default-fg and @color-accent by default.
// - Unread
@feedlish-headline-fg: @default-fg;
@feedlish-headline-bg: @default-bg;
// - Read
@feedlish-headline-read-fg: lighten(@default-fg, 30%);
// - Selected
@feedlish-headline-selected-bg: @feedlish-headline-active-bg;
// - Active
@feedlish-headline-active-bg: mix(@color-accent, @default-bg, 12%);
@feedlish-headline-active-fg: @feedlish-headline-fg;
// - Mouse hover
@feedlish-headline-hover-bg: darken(@feedlish-headline-bg, 5%);

// Adjustments:

// Hide author in headlines
@feedlish-hide-author-in-headlines: false;

// Hide score in headlines
@feedlish-hide-score-in-headlines: false;

// Inner padding of panels/frames
@feedlish-panels-padding: 20px;

//
// Global
//

// Normalize text color: use @default-fg
@default-text: @default-fg;
body.ttrss_main, div.cdm.active div.content {
	color: @default-fg;
}

// Normalize background color: use @default-bg
.flat .dijitContentPane,
body.ttrss_main #toolbar-frame #toolbar {
	background-color: @default-bg;
}

// Fix the default favicon size (to match other favicons)
i.material-icons.icon-no-feed {
	width: 16px !important;
	height: 16px !important;
	padding: 0 !important;
	margin: 0px 4px  !important;
}

// Disable most of animations/transitions
// FIXME: it doesn't remove the feed tree fold/unfold animation
* { transition: none !important; }

// Icon helper. See codepoint at /tt-rss/lib/iconfont/codepoints
.feedlish-material-icon(@codepoint) {
	width: 16px; // same size as flat-icon size
	height: 16px;
	margin: 0;
	&::before {
		font-family: 'Material Icons';
		font-size: 18px;
		line-height: 1;
		font-style: normal;
		font-weight: normal;
		position: absolute;
		top: -2px;
		left: -2px;
		content: @codepoint;
	}
}

// Hide some borders
@border-default: @color-panel-bg;

body.ttrss_main {

	// Increase all panels inner paddings
	// - Toolbar top
	#toolbar-frame #toolbar { padding: @feedlish-panels-padding 0; }
	// - Feed tree panel top
	#feedTree > .dijitTreeContainer > div { padding-top: @feedlish-panels-padding; }
	// - Main panel sides
	#toolbar-frame,
	#headlines-frame,
	// - Post panel sides
	#content-insert .post > div,
	// - Expanded post in combined mode
	.cdm.expandable div.content,
	// - Feed tree panel sides
	#feedTree > .dijitTreeContainer > div {
		padding-left: @feedlish-panels-padding;
		padding-right: @feedlish-panels-padding;
	}

	// Make splitters look like part of panels
	.dijitSplitter, .dijitSplitterV { background-color: @color-panel-bg; }

	//
	// Feed Tree Frame
	//

	// Remove the border between the feed tree and headlines panel
	#feeds-holder { box-shadow: none; }

	// Tweak feed tree
	#feeds-holder #feedTree {

		// Remove border around rows
		.dijitTreeRow { border: none !important; }

		// Simpler counter (unread)
		.counterNode {
			border: none;
			background: none;
			color: @default-fg;
		}
		// Simpler counter (read)
		.counterNode.aux {
			border: none;
			background: none;
			color: mix(@default-fg, @color-panel-bg, 30%);
		}

		// Re-align counters
		.counterNode {
			min-width: unset;
			margin-top: unset;
			line-height: unset;
		}

		// Increase space around feed icon and name
		.dijitTreeIcon, .dijitTreeExpando,
		.dijitTreeLabel {
			margin-left: 8px !important;
		}

		// Change arrow icons
		.dijitTreeExpandoClosed { .feedlish-material-icon("\e315"); }
		.dijitTreeExpandoOpened { .feedlish-material-icon("\e313"); }

		// Change icons colors
		.icon.material-icons:not(.icon-label), .dijitTreeExpando {
			color: @feedlish-feedtree-icons-color !important;
		}

		// Fix tree icon vertical alignment
		.dijitTreeExpando { top: 0; }

		// Ignore a whitespace between icon and name in non-specials
		.dijitTreeContent { display: inline-block; }

		// Move loading wheel GIF to the right
		.dijitTreeExpandoLeaf {
			float: right;
			top: 2px;
		}
		// And re-align row
		.dijitTreeRow[style="padding-left: 19px;"] {
			padding-left: 24px !important;
		}

		// "Specials" group
		> .dijitTreeContainer > .dijitTreeNode > .dijitTreeNodeContainer > .dijitTreeNode:first-child {

			// Add space after Specials group
			& { margin-bottom: @feedlish-panels-padding; }

			// Remove Specials indentation
			> .dijitTreeNodeContainer .dijitTreeRow {
				padding-left: 0px !important;
			}
		}

		// Lighten loading GIFs
		.loadingExpando, .loadingNode { opacity: 0.4; }
	}

	//
	// Toolbar Frame
	//

	// Remove italic from "N article selected" in toolbar
	#toolbar-frame #toolbar #selected_prompt {
		font-style: normal;
	}

	// Remove toolbar border
	#toolbar-frame #toolbar { border: none; }

	//
	// Headlines Frame
	//

	// Tweak headline content
	#headlines-frame div[id^="RROW"] {

		// Change headline elements order:
		&.hl, & .header {
			// - Score and feed icon
			> :nth-child(5) { order: 1; }
			// - Feed Name
			> :nth-child(3) { order: 2; }
			// - Title
			> :nth-child(2) { order: 3; }
			// - Date
			> :nth-child(4) { order: 4; }
			// - Buttons select/share/star
			> :nth-child(1) { order: 5; }
		}

		// Show buttons only on hover or marked
		&.hl, & .header { > :nth-child(1) { display: none; } }
		&:hover, &.marked, &.published, &.active, &.Selected {
			&.hl, & .header { > :nth-child(1) { display: flex; } }
		}

		// Tweak title:
		div.title, span.titleWrap {

			// Tweak label look
			.label {
				font-size: 11px;
				padding: 1px 6px;
				border-radius: 99px;
			}

			// Hide label icon
			.label > i { display: none; }

			// Keep the same font size when combined expanded or not
			a { font-size: 14px !important; }

			// Hide author
			.author when (@feedlish-hide-author-in-headlines = true) {
				display: none;
			}

			// Remove hover underline
			a:hover { text-decoration: none; }

		} // Tweak title

		// Headline colors
		.feedlish-set-headline-fg(@c) {
			&.hl, & .header {
				a.title { color: @c; }
				// author and preview:
				a.title span, a.title ~ span { color: lighten(@c, 10%); }
			}
		}
		.feedlish-set-headline-bg(@c) {
			&.hl, & .header { background-color: @c !important; }
		}
		// - Default (unread)
		& { .feedlish-set-headline-bg(feedlish-headline-bg); }
		&.hl, & .header { a, span { color: @feedlish-headline-fg; } }
		// - Read
		&:not(.Unread) { .feedlish-set-headline-fg(@feedlish-headline-read-fg); .feedlish-set-headline-bg(@feedlish-headline-bg); }
		// - Unread
		&.Unread { /* default */ }
		// - Mouse hover
		&:hover { .feedlish-set-headline-bg(@feedlish-headline-hover-bg); }
		// - Selected
		&.Selected { .feedlish-set-headline-bg(@feedlish-headline-selected-bg); }
		// - Active
		&.active { .feedlish-set-headline-fg(@feedlish-headline-active-fg); .feedlish-set-headline-bg(@feedlish-headline-active-bg); }
		// (Remove interfering background)
		&.cdm { background: none !important; }

		// Do not wrap title (except when active)
		&.hl, &:not(.active) .header {
			.title, .titleWrap {
				overflow: hidden;
				white-space: nowrap;
			}
		}

		// Make the full headline title height clickable (remove non-clickable space
		// in-between titles)
		&.hl, & .header {
			> * { padding: 0 10px 0 0; }
		}
		a.title {
			// line-height sets the height, but we need padding to get it clickable
			line-height: 30px;
			padding: 6px 0;
		}

		// Feed name look
		.feed a {
			font-size: 11px;
			padding: 1px 6px;
			border-radius: 99px;
			font-style: normal;
		}

		// Feed name fixed width
		.feed {
			min-width: 120px;
		}
		.feed a {
			max-width: 110px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		// FIXME: remove .feed when a is empty
		.feed a:empty {
			display: none;
		}

		// Hide score icon
		.icon-score when (@feedlish-hide-score-in-headlines = true) {
			display: none;
		}

	} // Tweak headline content

	// Show feed name in headlines, even in wide screen mode
	div#headlines-frame.wide .hl .feed { display: inline-flex; }

	// Remove separator border for:
	// - Headlines: invisible border, so everyone is the same height
	.hl, div#headlines-frame div.cdm.expandable { border: 1px solid @default-bg; }
	// - "Loading, please wait" or "No articles found to display" in headlines panel
	div.whiteBox { border: none; }
	// But, keep border for combined mode expanded post:
	div#headlines-frame div.cdm.expandable.active {
		border: 1px solid darken(@default-bg, 20%);
	}

	// Remove bold italic from "Click to open next unread feed"
	#headlines-spacer { font-style: normal; }
	// Re-align loading icon
	.loading img { vertical-align: middle; }

} // ttrss_main

// Local customization in a separate file
@import (optional) "./local.less";
